<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Spring Framework User Management</title>
</head>
<body>
	<h1>Retrieve Roles Page</h1>
	<div style="position: relative; left: 50px; top: 4px;">
		<a href="/createOrgRole">Create Role</a>
	</div>
	<table>
		<tr>
			<th>Id</th>
			<th>Role Name</th>
			<th>Description</th>
			<th>Created Date</th>
		</tr>

		<tr th:each="role : ${roles}">
			<td th:text="${role.id}"></td>
			<td th:text="${role.name}"></td>
			<td th:text="${role.description}"></td>
			<td th:text="${role.createdDate}"></td>
		</tr>
	</table>
</body>
</html>