<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Spring Framework User Management</title>
</head>
<body>
	<h4>Retrieve a Specfic user</h4>
	<div class="border-bottom">
		<div class="col-md-4">
			<p class="font-11 font-gray mb-0">First Name :</p>
			<p class="mb-0" th:text="${user.firstName} ?: '-'">04/15/2020</p>
		</div>
	</div>
	<div class="border-bottom">
		<div class="col-md-4">
			<p class="font-11 font-gray mb-0">Last Name :</p>
			<p class="mb-0" th:text="${user.lastName} ?: '-'">04/15/2020</p>
		</div>
	</div>
	<div class="border-bottom">
		<div class="col-md-4">
			<p class="font-11 font-gray mb-0">EmailId :</p>
			<p class="mb-0" th:text="${user.emailId} ?: '-'">04/15/2020</p>
		</div>
	</div>
	<div class="border-bottom">
		<div class="col-md-4">
			<p class="font-11 font-gray mb-0">Address :</p>
			<p class="mb-0" th:text="${user.address} ?: '-'">04/15/2020</p>
		</div>
	</div>
	<div class="border-bottom">
		<div class="col-md-4">
			<p class="font-11 font-gray mb-0">Mobile Number :</p>
			<p class="mb-0" th:text="${user.phoneNumber} ?: '-'">04/15/2020</p>
		</div>
	</div>
</body>
</html>